/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
/*@media only screen and (min-width : 320px){
  .features {
    width:97%;
    margin: 0 auto;
    height:74em;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
  .features {
    width:90%;
    height:74em;
  }
  .macbook img {
  	width:80%;
  	height:80%;
  	bottom:18em;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
  .features {
    width:97%;
    height:74em;
  }
  .macbook img {
    width:80%;
    height:80%;
    bottom:8em;
  }
  .column-1, .column-2,.column-3,.column-4 {
  	height:18em;
  	margin-top:4em;
  	animation-delay: .8s;
  }
  .column-3,.column-4 {
  	margin-top:0em;
  }
  .section-B {
  	height:52em;
  }
  .features {
  	width:90%;
  	margin: 0 auto;
  	height:56em;
  }
  .learning-fixed {
  	width:60%;
  	margin:0 auto;
  }
  .playlist-section {
  	width:100%;
  	margin: 0 auto;
  	height:63em;
  	text-align: center;
  	background:#eff0f2;
  }
  .slider {
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
  .macbook img {
    width:80%;
    height:80%;
    bottom:14em;
  }
  .column-1, .column-2,.column-3,.column-4 {
  	height:18em;
  	margin-top:8em;
    margin-bottom:2em;
  	animation-delay: .8s;
  }
  .column-3,.column-4 {
  	margin-top:.2em;
  }
  .section-B {
    height:52em;
  }
  .features {
  	width:90%;
  	margin: 0 auto;
  	height:52em;
  }
  .learning-fixed {
  	width:100%;
  	margin:0 auto;
  }
  .playlist-section {
  	width:100%;
  	margin: 0 auto;
  	height:39em;
  	text-align: center;
  	background:#eff0f2;
  }
  .slider {
    transform: scale(0.8,0.8);
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
  .features {
    width:97%;
    height:74em;
  }
  .macbook img {
    width:60%;
    height:60%;
    bottom:18em;
  }
  .column-1, .column-2,.column-3,.column-4 {
    height:18em;
    margin-top:8em;
    animation-delay: .8s;
  }
  .column-3,.column-4 {
    margin-top:.2em;
  }
  .section-B {
    height:52em;
  }
  .features {
  	width:80%;
  	margin: 0 auto;
  	height:47em;
  }
  .learning-fixed {
  	width:80%;
  	margin:0 auto;
  }
  .playlist-section {
  	width:100%;
  	margin: 0 auto;
  	height:39em;
  	text-align: center;
  	background:#eff0f2;
  }
}
