/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
/*@media only screen and (min-width : 320px){
  .features {
    width:97%;
    margin: 0 auto;
    height:74em;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
  .problem {
  	width:70%;
  	height:34em;
  }
  .product {
    height:38em;
    width:90%;
  }
  .solution {
    width:90%;
    height:32em;
    padding-left:2em;
    padding-right:2em;
    margin-top:4em;
  }
  .cta-content {
    width:90%;
    padding-top:4em;
  }
  .bulletoffer {
    width:90%;
    height:28em;
  }
  .title {
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    margin-left: 1.43em;
    line-height: 1.3em;
    opacity: 0;
    text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    padding-top: 2.3em;
    top: 0;
    color:white;
  }
  .text {
    max-width: 340px;
    padding-top: 20em;
    margin-left:4.2em;
    font-size:1.3em;
    line-height: 1.6em;
    text-align: left;
    opacity: 0;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
    color:white;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
  .container-fixed {
    width:95%;
  }
  .cta-content {
    width:60%;
    padding-top:4em;
  }
  .problem {
    width:60%;
    height:26em;
  }
  .solution {
    width:70%;
    height:32em;
    padding-left:2em;
    padding-right:2em;
    margin-top:4em;
  }
  .section-B {
    height:42em;
  }
  .column-1 {
    margin-top:2em;
    height:6em;
  }
  .product {
    height:44em;
    width:70%;
  }
  .bulletoffer {
    width:80%;
    height:18em;
  }
  .title {
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    margin-left: 4em;
    opacity: 0;
    text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    padding-top: 2.3em;
    top: 0;
    color:white;
  }
  .text {
    max-width: 540px;
    padding-top: 14em;
    margin-left: 11.4em;
    font-size:1.3em;
    line-height: 1.6em;
    text-align: left;
    opacity: 0;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
    color:white;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
  .container-fixed {
    width:95%;
  }
  .cta-content {
    width:60%;
    padding-top:4em;
  }
  .problem {
    width:60%;
    height:26em;
  }
  .solution {
    width:70%;
    height:32em;
    padding-left:2em;
    padding-right:2em;
    margin-top:4em;
  }
  .section-B {
    height:42em;
  }
  .column-1 {
    margin-top:2em;
    height:6em;
  }
  .product {
    height:44em;
    width:70%;
  }
  .bulletoffer {
  	width:80%;
    height:18em;
  }
  .title {
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    margin-left: 4em;
    opacity: 0;
    text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    padding-top: 2.3em;
    top: 0;
    color:white;
  }
  .text {
    max-width: 540px;
    padding-top: 14em;
    margin-left: 11.4em;
    font-size:1.3em;
    line-height: 1.6em;
    text-align: left;
    opacity: 0;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
    color:white;
  }
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
  .container-fixed {
    width:96%;
  }
  .cta-content {
    width:60%;
    padding-top:4em;
  }
  .solution {
    width:70%;
    height:32em;
    padding-left:2em;
    padding-right:2em;
    margin-top:4em;
  }
  .problem {
    width:60%;
    height:26em;
  }
  .section-B {
    height:40em;
  }
  .column-1 {
    margin-top:2em;
    height:6em;
  }
  .product {
    height:48em;
    width:60%;
  }
  .bulletoffer {
  	width:70%;
    height:18em;
  }
  .title {
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    margin-left: 4em;
    opacity: 0;
    text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    padding-top: 2.3em;
    top: 0;
    color:white;
  }
  .text {
    max-width: 540px;
    padding-top: 14em;
    margin-left: 11.4em;
    font-size:1.3em;
    line-height: 1.6em;
    text-align: left;
    opacity: 0;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
    color:white;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1420px){
  .container-fixed {
  	width:95%;
  }
  .solution {
  	width:70%;
  	height:32em;
    padding-left:2em;
    padding-right:2em;
    margin-top:4em;
  }
  .cta-content {
    width:60%;
    padding-top:4em;
  }
  .problem {
  	width:60%;
  	height:26em;
  }
  .section-B {
    height:42em;
  }
  .column-1 {
    margin-top:2em;
    height:6em;
  }
  .product {
  	height:52em;
    width:60%;
  }
  .bulletoffer {
  	width:70%;
    height:18em;
  }
  .title {
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    margin-left: 4em;
    opacity: 0;
    text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    padding-top: 2.3em;
    top: 0;
    color:white;
  }
  .text {
    max-width: 540px;
    padding-top: 14em;
    margin-left: 11.4em;
    font-size:1.3em;
    line-height: 1.6em;
    text-align: left;
    opacity: 0;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
    color:white;
  }
}
