/* Global // --------------------------------*/

html {
  letter-spacing: 0.0125em;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body, html {
    height: 100%;
    font-family: 'Arimo', sans-serif;
    margin: 0;
    font-weight: 300;
    line-height: 1.3em;
    transition: all 0.3s ease 0s;
}
.container {
	width:100%;
}
.nav {
	width:100%;
	padding-top:3em;
}
.nav li {
	text-align: center;
}
.section-A,.section-B,.section C {
	width:100%;
	padding:0;
	margin:0;
}
.section-E {
	background:#eff0f2;
	height:44em;
}
.section-B {
	background:#eff0f2;
	height:48em;
}
.section-C {
	background:#1c1b1b;
	height:32em;
	animation-delay: .5s;
}
.section-D {
	background:white;
	height:32em;
}
.macbook {
}
.macbook img {
	width:800px;
	height:100%;
}
.graphic {
	background:#eff0f2;
	height:48em;
}
.column-1, .column-2,.column-3 {
	height:18em;
	background:#eff0f2;
	margin-top:4em;
	animation-delay: .8s;
}
.content {
	padding-left:16em;
	padding-top:12em;
	width:75%;
}
.content p {
	line-height: 1.6em;
	color:#969696;
}
.features {
	width:70%;
	margin: 0 auto;
}




/* Forms // --------------------------------*/

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 110%;
	width: calc(100% - 2em);
	vertical-align: top;
	margin-top: 12px;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}
