/* Global // --------------------------------*/

html {
  letter-spacing: 0.0125em;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body, html {
    height: 100%;
    font-family: 'Arimo', sans-serif;
    margin: 0;
    font-weight: 300;
    line-height: 1.3em;
    transition: all 0.3s ease 0s;
}
.section-A,.section-B,.section C {
	width:100%;
	padding:0;
	margin:0;
}
.section-A {
	background:white;
	height:6em;
}
.section-B {
	background:#f1ecec;
	height:44em;
	z-index:1;
	position:relative;
}
.section-C {
	background:#262626;
	height:22em;
}
.section-D {
	background:white;
	height:22em;
}
.macbook {
	z-index:2;
}
.macbook img {
	width:800px;
	height:100%;

}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 110%;
	width: calc(100% - 2em);
	vertical-align: top;
	margin-top: 12px;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}
